body {
    background-image:
        url(egyiptomihatter.jpg);
    background-position: center;
    background-repeat: repeat;
    -webkit-text-fill-color: brown;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

#content {
    background-color: rgb(221, 192, 97);
    max-width: 650px;
    margin: auto;
}
img {
    margin-right: 12px;
    margin-left: 12px;
}
#nilus {
    float: right;
}
#karnak {
    float: left;
}